@page
@model FirstWebApp.Pages.CialoModel
@{
}
<div class="row">
    <div class="col-12 mt-3">
        <h2 class="h text-secondary text-center naglowek" id="o_mnie">Masaż klasyczny</h2>
        <div class="border-bottom mb-3"></div>
<div class="col-12 naglowek mb-5">
    <p>
        Masaż klasyczny to najpopularniejsza forma masażu. Wykorzystuje
        się w nim indywidulanie dobraną do klienta siłę nacisku na
        mięśnie, przy użyciu dłoni, przedramion oraz łokci. Rozluźnia
        napięte mięśnie, poprawia przepływ krwi, zwiększa elastyczność
        mięśni i zakres ruchomości oraz zmniejsza odczucia bólowe. Zaletą
        jest jego pozytywnie wpływa na samopoczucie i stan emocjonalny
        pacjenta, redukując stres i zwiększając wydzielanie endorfin. Ten
        rodzaj masażu szczególnie polecany jest dla tych osób, które chcą
        poprawić swoje zdrowie fizyczne lub psychiczne.
    </p>
    <div class="border-bottom"></div>
    <p>Czas trwania: 60min – Cena: 120zł | 30min – 70zł</p>
</div>
        <div class="row">
            <div class="col-12 mt-3">
                <h2 class="h text-secondary text-center naglowek" id="o_mnie">Masaż relaksacyjny</h2>
                <div class="border-bottom mb-3"></div>
<div class="col-12 mb-5 naglowek">
    <p>
        Masaż relaksacyjny jest odmianą masażu klasycznego. Jednak
        znacznie łagodniejszą i płynniejszą. Skupia się na redukowaniu
        napięć mięśniowych, odprężaniu całego ciała, eliminowaniu bólu
        pleców, szyi, karku, czy barków, poprawie krążenia i przepływu
        limfy a zwłaszcza na wyciszaniu emocjonalnym osoby masowanej.
        Masaże relaksacyjne są wykonywane na całym ciele lub też na
        poszczególnych jego częściach, np. wyłącznie na plecach. Masaż
        relaksacyjny można polecić każdemu. To bezpieczny, łagodny rodzaj
        masażu, który wspaniale relaksuje, wycisza skołatane nerwy, usuwa
        napięcie z mięśni, zwalcza dolegliwości bólowe, stres, itp. Z
        masażu relaksacyjnego korzystają też osoby, które są przemęczone,
        mają problemy ze snem, brakuje im energii, są obciążone
        przewlekłym stresem, czy mają problem z nadpobudliwością.
        Przeciwwskazania do masażu to: gorączka, choroba nowotworowa,
        stany zapalne skóry, schorzenia układu krążenia, hemofilia,
        nadciśnienie tętnicze, choroba żył, skłonność do występowania
        krwotoków, niedawno przebyte złamania, zwichnięcia czy skręcenia
        kości i stawów.
    </p>
    <div class="border-bottom"></div>
    <div class="row">
        <div class=" mb-md-1 mb-sm-1 mb-xs-1 mb-5 mt-3 naglowek">
            <h4 class="h text-dark" id="olejki">Masaż olejkami</h4>
            <p>
                Masaż ciepłymi olejkami jest szczególnie polecany osobom
                żyjącym w ciągłym stresie. Polega na wykonaniu spokojnych i
                płynnych ruchów. Wspaniale oddziałuje na układ nerwowy –
                likwiduje napięcie mięśni, przywraca prawidłowy rytm serca,
                właściwe krążenie i ciśnienie krwi, a nawet pomaga w walce z
                bezsennością oraz z ogólnym wycieńczeniem. Kontakt ciepłych
                olejków z zakończeniami nerwowymi w skórze powoduje
                natychmiastową reakcję systemu nerwowego i najbardziej
                pożądany efekt relaksu i odprężenia. Masaż oczyszcza organizm,
                przywraca naturalną harmonię ciała, zapewnia głęboki relaks i
                wyciszenie. Celem masażu aromaterapeutycznego jest
                wprowadzenie do organizmu przez skórę leczniczych substancji
                zawartych w olejkach oraz poprawa krążenia krwi. Aromaterapia
                traktuje człowieka holistycznie, jej zabiegi mają na celu
                poprawę ogólnej kondycji organizmu człowieka poprzez
                przywrócenie mu równowagi i pobudzenie jego naturalnych sił
                odpornościowych. Olejek wybierany indywidulanie do potrzeb i
                upodobań klienta. Poza zapachem i odpowiednią muzyką, głębokie
                odprężenie daje podgrzanie wybranego olejku do odpowiedniej
                temperatury. Cieplo otula i zapewnia dodatkowy relaks.
            </p>
            <div class="border-bottom"></div>
            <p>Czas trwania: 90min – Cena: 180zł | 60min - 150zl</p>
        </div>
        <div class=" mt-3 naglowek">
            <h4 class="h text-dark" id="kamienie">
                Masaż gorącymi kamieniami
            </h4>
            <p>
                Masaż gorącymi kamieniami to bardzo relaksujący zabieg dla
                wszystkich miłośników błogiego odpoczynku. Bazaltowe kamienie
                pochodzenia wulkanicznego przewodzą wysokie i niskie
                temperatury, doskonale rozgrzewają i rozluźniają napięte
                mięśnie, pomagając uwolnić umysł i ciało od stresu.
                Temperatura kamieni używanych przy zabiegu jest dostosowywana
                do indywidualnych odczuć klienta i nie przekracza 60 stopni
                Celsjusza. Masażysta stopniowo przyzwyczaja skórę pacjenta do
                ciepła, rozgrzewając ciało technikami masażu relaksacyjnego
                (głaskanie, rozcieranie i ugniatanie, a ponadto odpowiednie
                układanie kamieni na poszczególnych odcinkach ciała),
                zmniejszając tym samym różnicę temperatur między ciałem a
                kamieniami. Masaż doskonale niweluje napięcia a do tego kojąco
                na ciało i umysł osoby masowanej działają także zapach olejków
                eterycznych oraz odpowiednia muzyka. Masaż ten to połączenie
                termoterapii, drenażu limfatycznego, akupresury i
                aromaterapii. Polecany jest dla osób, które zmagają się z
                chronicznym przemęczeniem, stresem i niepokojem. Świetnie
                sprawdzi się też w przypadku urazów sportowych,
                przetrenowania, obrzęków lub przewlekłego bólu. Dodatkowo
                pobudzony zostaje układ limfatyczny i krwionośny, dzięki czemu
                zabieg ten może być pomocny w ujędrnianiu i nawilżaniu skóry,
                a nawet redukcji cellulitu.
            </p>
            <div class="border-bottom"></div>
            <p>Czas trwania: 60min – Cena: 150zł</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 mt-3">
        <h2 class="h text-secondary text-center naglowek" id="o_mnie">Masaż antycellulitowy</h2>
        <div class="border-bottom mb-3"></div>
<div class="col-12 mb-5 naglowek">
    <p>
        W masazach antycellulitowych wykonywanie polega na wykorzystywaniu
        dynamicznych, intensywnych i silnych ruchów podczas zabiegu. Pod
        wpływem czego dochodzi do rozbicia podskórnej tkanki tłuszczowej,
        detoksykacji organizmu oraz polepszenia ukrwienia skóry i mięśni.
    </p>
    <div class="border-bottom"></div>
    <div class="row">
        <div class=" mb-3 mt-3 naglowek">
            <h4 class="h text-dark" id="rytulal">
                Kompleksowy rytułał antycellulitowy
            </h4>
            <p>
                Kompleksowy rytułał antycellulitowy to połączenie czterech
                masaży. W pierwszej fazie przygotowujemy ciało do dlaszych,
                intensywniejszych zabiegów masażem klasycznym. W drugiej fazie
                wykonujemy masaż bańką chińską. Trzecia faza to masaż
                izometryczny, który wymaga współpracy masażysty i klienta. Są
                to intensywne ruchy takie jak szybkie ugniatanie bądź
                oklepywanie masowanej części ciała przy napięciu mięśniowym ze
                strony osoby masowanej. Co zwiększa intensywność zabiegu i
                skuteczniej pomaga walczyć z cellulitem. Dla odważnych w tej
                fazie można wykonać również krótki masaż kostką lodu.
            </p>
            <div class="border-bottom"></div>
            <p>Czas trwania: 60min – Cena: 150zł</p>
        </div>

        <div class=" mb-3 mt-3 naglowek">
            <h4 class="h text-dark" id="miod">
                Oczyszczający masaż miodem
            </h4>
            <p>
                Masaż ciepłym miodem to połączenie działania masażu
                relaksującego i stymulacji pracy gruczołów potowych, która
                prowadzi do detoksykacji organizmu. Masaż poprawia sprawność
                układu krążenia, działa przeciwzapalnie i wspomaga naturalną
                odporność organizmu. Regeneruje po przemęczeniu i wyczerpaniu,
                odpręża i wycisza. Dodatkową zaletą jest redukcja cellulitu i
                minimalizacja blizn i rozstępów. Masaż rozpoczyna się od
                nałożenia podgrzanego do ok. 38 stopni płynnego miodu na
                ciało. Następnie jest on delikatnie wklepywany i wmasowywany w
                skórę. W wyniku oczyszczania się organizmu z toksyn miód staje
                się coraz ciemniejszy. Przeznaczony dla każdego kto chce
                zadbać o odporność swojego organizmu, pozbyć bóli
                napięciowych, nawilżyć przesuszoną skórę, oczyścić organizm,
                zredukować cellulit i blizny. Przeciwwskazania to oczywiście
                alergia na miód jak również kruchość naczyń, żylaki, choroby,
                nowotworowe, stany zapalne przebiegające z gorączką, ciąża,
                miażdżyca.
            </p>
            <div class="border-bottom"></div>
            <p>Czas trwania: 30min – Cena: 60zł</p>
        </div>
    </div>
    <div class="border-bottom mb-3"></div>
    <div class="row">
        <div class=" mt-1 naglowek">
            <h4 class="h text-dark" id="banka_cialo">
                Masaż bańką chińską
            </h4>
            <p>
                Masaż bańką chińską opiera się na metodzie próżniowego
                zasysania skóry i tkanki podskórnej. Zabieg bańką wywodzi się
                z chińskiej medycyny naturalnej. Podciśnienie, które powstaje
                w bańce poprzez usunięcie z niej powietrza, powoduje zassanie
                skóry i tkanek leżących pod bańką, powodując intensywne
                przekrwienie oraz widoczną poprawę stanu skóry. Rozszerzenie
                naczyń krwionośnych i odpowiednie ukrwienie powoduje lepsze
                odżywienie tkanek, co zapobiega powstawaniu cellulitu. Podczas
                zabiegu dochodzi do przyspieszenia przemiany materii, co
                redukuje tkankę tłuszczową a także oczyszcza skórę z toksyn.
                Działa jako drenaż limfatyczny. Przynosi wyraźne efekty w
                krótkim czasie. Efekty masażu to: zmniejszenie obrzęków,
                redukcja tkanki tłuszczowej, redukcja cellulitu, poprawa
                krążenia, poprawa elastyczności i ujędrnienie. Do
                przeciwwskazań zalicza się: żylaki, stany gorączkowe,
                zaburzenia krzepliwości krwi, krwiaki, pękające naczynka,
                choroby skóry, choroby zakaźne, nowotwory, nadciśnienie
                tętnicze, menstruacje, ciążę.
            </p>
            <div class="border-bottom"></div>
            <p>Czas trwania: 30min – Cena: 70zł</p>
        </div>
        <div class=" mt-1 naglowek">
            <h4 class="h text-dark" id="lod">Masaż kostką lodu</h4>
            <p>
                Masaż lodem świetnie sprawdzi się podczas terapii mających na
                celu poprawę wyglądu skóry, redukcję tkanki tłuszczowej oraz
                cellulitu, a także wzmocnienie naczyń krwionośnych. Masaż musi
                być wykonywany regularnie. Zabieg może być wykonywany u osób
                ze skłonnością do pojawiania się teleangiektazji, jednak
                należy zachować ostrożność. Masaż nie powinien być zbyt długi,
                nie należy go również wykonywać na rozgrzaną skórę (gwałtowne
                różnice temperatur mogą spowodować pękanie naczynek).
                Stosowany regularnie działa jak delikatna gimnastyka dla
                naczyń krwionośnych, dzięki czemu uelastycznia je i zapobiega
                pękaniu. Wskazaniem do wykonywania masażu lodem jest również
                cellulit. Stymulacja mikrokrążenia umożliwia resorpcję
                nadmiernej ilości płynu z przestrzeni międzykomórkowej do
                naczyń. Masaż lodem powoduje naprzemienny skurcz i rozkurcz
                naczyń włosowatych. Dzięki czemu poprawia się metabolizm
                komórek tłuszczowych, a w rezultacie dochodzi do zmniejszenia
                cellulitu. Poprawia mikrokrążenia miejsc objętych tzw.
                pomarańczową skórką, stymuluje miejscową przemianę materii i
                poprawia wygląd.
            </p>
            <div class="border-bottom"></div>
            <p>Czas trwania: 30min – Cena: 60zł</p>
        </div>
    </div>
</div>
