@page
@model FirstWebApp.Pages.ContactModel
@{
    ViewData["Title"] = "Contact page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontakt</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900&amp;subset=latin-ext">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <style>
        body {
            margin: 0;
            font-family: Roboto, sans-serif;
            background-color: #f8f9fa;
        }

        h2 {
            margin-top: 20px;
            color: #007bff;
        }

        hr {
            border-top: 1px solid #007bff;
        }

        .contact-info,
        .map-container {
            padding: 20px;
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
        }

        .contact-info h6,
        .map-container h6 {
            margin-bottom: 10px;
            color: #343a40;
        }

        .contact-info span a,
        .contact-info span a:hover {
            color: #ff8c00; /* Pomarańczowy kolor */
            text-decoration: none;
            padding-bottom: 20px;
        }
    </style>
</head>

<body>

    <div class="container">
        <h2 class="h text-secondary text-center" id="o_mnie">Kontakt</h2>
        <hr />
        <div class="row">
            <div class="col-lg-6 mb-4 mb-lg-0 contact-info text-center">
                <div class="row">
                    <div class="col-lg-6 mb-4 mb-lg-0 contact-info">
                <h6>Adres:</h6>
                <span>ul. Relaksowa 6/32, 20-819 Lublin</span>
                </div>
                <div class="col-lg-6 mb-4 mb-lg-0 contact-info">
                    <h6>Numer telefonu:</h6>
                <span><a href="tel:+48555999666">555999666</a></span>
                </div>
                </div>
                <div class="row">
                <div class="col-lg-6 mb-4 mb-lg-0 contact-info">
                <h6>Email:</h6>
                <span><a href="mailto:irmina.gorecka@gmail.com">irmina.gorecka@gmail.com</a></span>
                </div>
                <div class="col-lg-6 mb-4 mb-lg-0 contact-info">
                <h6>Instagram:</h6>
                <span><a href="https://www.instagram.com/marta.masuje/" target="_blank">Marta Masuje</a></span>
                </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4 mb-lg-0 map-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2496.367700396374!2d22.516060076605743!3d51.267550371759796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47225992ddc22881%3A0x7ef7b3064998a322!2sRelaksowa%206%2F32%2C%2020-819%20Lublin!5e0!3m2!1spl!2spl!4v1704834817068!5m2!1spl!2spl" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>

</body>

</html>







<!--
@if(Model.hasData){
    <p>Hello @Model.firstName @Model.lastName</p>
    <p>We received your following message correctly:</p>
    <p>@Model.message</p>


}
<div class="container">
    <form method="POST">
        <label for="fname">First name</label><br>
        <input type="text" id="fname" name="firstname"/><br>

         <label for="lname">Last name</label><br>
        <input type="text" id="lname" name="lastname"/><br>


        <label for="messaage">Message</label><br>
        <textarea id="fname" name="message" style="height:200px"></textarea><br>

        <input type="submit" value="Submit"/>
    </form>
</div>
-->