@page
@model FirstWebApp.Pages.FormularzModel
@{
}




<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--linki do zmiany tekstu-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900&amp;subset=latin-ext">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
 <section>
<div class="row">
    <div class="col-lg-9 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">Formularz zapisu</h2>
        
        @if (Model.errorMessage.Length>0)
        {
            <div class='alert alert-warning alert-dismissible fade show' role='alert'>
                <strong>@Model.errorMessage</strong>
                <button type='button' class='btn-close' data-bs-dimiss='alert' aria-label='Close'></button>
            </div>
        }
        else if (Model.successMessage.Length>0)
        {
            <div class='alert alert-success alert-dismissible fade show' role='alert'>
                <strong>@Model.successMessage</strong>
                <button type='button' class='btn-close' data-bs-dimiss='alert' aria-label='Close'></button>
            </div>
        }


        
        <form method="post">
            <div class="row mb-3"> 
                <label class="col-sm-4 col-form-label">Imię</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Imie"/>
                    <span asp-validation-for="Imie" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Nazwisko</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Nazwisko" />
                    <span asp-validation-for="Nazwisko" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">E-mail</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Numer telefonu</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Telefon" />
                    <span asp-validation-for="Telefon" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Kurs</label>
                <div class="col-sm-8">
                    <select class="form-select" asp-for="Kurs">
                    <option value="Kinesiotaping">Kinesiotaping liftingujący twarzy</option>
                    <option value="Klasyczny">Masaż klasyczny z technikami orientalnymi</option>
                    <option value="Tajski">Masaż tajski</option>
                    <option value="Twarzy">Masaż twarzy Mukabhyanga</option>
                    </select>
                    <span asp-validation-for="Kurs" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Uwagi</label>
                <div class="col-sm-8">
                    <textarea class="form-control" asp-for="Uwagi"></textarea>
                    <span asp-validation-for="Uwagi" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="offset-sm-4 col-sm-8">
                    <button type="submit" class="btn btn-primary">Zapisz</button>
                </div>
            </div>

        </form>






    </div>
</div>
</section>
</body>
 </html>