@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<p> All rights reserved.</p>
    