@page
@model FirstWebApp.Pages.SzkoleniaModel
@{
}

<style>
    .card-img-top {
        width: 100%;
        height: 200px;
    }
</style>


<div class="row">
    <div class="col-12 mt-3">
        <h2 class="h text-secondary text-center naglowek" id="o_mnie">Szkolenia</h2>
        <div class="border-bottom mb-3"></div>
        <div class="col-12 naglowek mb-5">



            <div class="row">

                <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                    <div class="card h-100" style="width: 18rem;">
                        <img src="~/images/taping-twarzy.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Kinesiotaping liftingujący twarzy</h5>
                            <p class="card-text">Kinesiotaping liftingujący twarzy to metoda plastrowania twarzy za pomocą specjalnych, elastycznych taśm kinezjologicznych. Nakleja się je na twarz, żeby zwiększyć odżywienie i napięcie skóry oraz zmniejszyć zmarszczki mimiczne.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                    <div class="card h-100" style="width: 18rem;">
                        <img src="~/images/masaz_terapeutyczny.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Masaż klasyczny z technikami orientalnymi</h5>
                            <p class="card-text">Polegający na nauce klasycznych zabiegów z wykorzystaniem technik orientalnych. Obejmuje m.in. szkolenie z masażu stemplami Churna Pinda Sweda. Uczy podstaw konsultingu SPA i przygotowuje do profesjonalnej pracy jako masażysta.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                    <div class="card h-100" style="width: 18rem;">
                        <img src="~/images/tajskijpg.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Masaż tajski</h5>
                            <p class="card-text">Głęboki łączący techniki akupresury, pasywną jogę, stretching i refleksologię. Wykonywany jest w ubraniu, na macie. Masażysta do zabiegu używa dłoni, przedramion, łokci i stóp. Potocznie masaż tajski nazywany jest "jogą dla leniwych". Skupia się na masowaniu głównych meridian.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                    <div class="card h-100" style="width: 18rem;">
                        <img src="~/images/masaz-twarz.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Masaż twarzy Mukabhyanga</h5>
                            <p class="card-text">
                                Kursy masażu twarzy, szyi i dekoltu. Do zabiegu wykorzystuje się naturalne oleje i tradycyjne ajuwerdyjskie kosmetyki. Masaż ma na celu połączenie ciała i ducha dzięki stymulowaniu "marma", czyli miejsc, w których łączą się obie te strefy. Mukabhyanga dodaje skórze świeżości i usuwa ślady zmęczenia. Działa relaksująco zarówno na ciało, jak i na umysł.
                            </p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>

            </div>
