@page
@model FirstWebApp.Pages.TwarzModel
@{
}
<div class="row">
    <div class="col-12 mt-3">
        <h2 class="h text-secondary text-center naglowek" id="o_mnie">Zabiegi na twarz</h2>
        <div class="border-bottom mb-3"></div>
    <div class="col-12 mb-5 naglowek">
        <h4 class="h text-dark" id="kobido">
            Japoński masaż liftingujący KOBIDO
        </h4>
        <p>
            Japoński masaż liftingujący to całkowicie naturalna i
            nieinwazyjna metoda liftingu. Pomaga w utrzymaniu lub
            przywróceniu harmonii organizmu i naturalnego piękna. Techniki
            bazowane na dalekowschodnich metodach masazu: praca na punktach
            biologicznie aktywnych, drenaż limfatyczny i intensywna część
            masazu przeciwzmarszczkowego. Masaż wprowadza cały organizm w
            stan równowagi i regeneracji. Na poziomie komórkowym skóra
            wytwarza więcej nowego kolagenu i elastyny, co przywraca jej
            jędrność. Japoński lifting twarzy poprawia ukrwienie skóry i
            krążenie limfy, co pozwala na lepsze jej odżywienie i
            dotlenienie więc niweluje obrzęki i opuchnięciaia pod oczami.
            Wykonanie serii masaży daje efekty porównywalne z tradycyjnym,
            chirurgicznym liftingiem twarzy. A przy tym jest zabiegiem
            nieinwazyjnym i bezpiecznym. Dodatkową korzyścią japońskiego
            masażu twarzy jest też stan głębokiego relaksu, jaki osiągamy
            podczas zabiegu. Jest doskonałą propozycją dla osób, które
            oprócz wyraźnego odmłodzenia twarzy pragną także zredukować
            stres i zadbać o zdrowie całego organizmu.
        </p>
        <div class="border-bottom mb-3"></div>
        <div class="row">
            <div class="col-6 mb-5 mt-2 naglowek">
                <h6>Wskazania</h6>
                <ul class="ul">
                    <li>Nieinwazyjny, naturalny lifting twarzy</li>
                    <li>Modelowanie owalu twarzy</li>
                    <li>Zmarszczki i bruzdy</li>
                    <li>Szara i zmęczona cera</li>
                    <li>Wiotka, mało jędrna skóra</li>
                    <li>Opuchlizna i obrzęki twarzy</li>
                    <li>Przebarwienia</li>
                    <li>Redukcja stresu</li>
                </ul>
            </div>
            <div class="col-6 mt-2 naglowek">
                <h6>Przeciwwskazania</h6>
                <ul class="ul">
                    <li>Stany zapalne skóry</li>
                    <li>Świeże niezagojone rany i blizny</li>
                    <li>Złote nici</li>
                    <li>
                        Botoks/wypełniacze (3-4 tygodnie po zabiegu można wykonać
                        masaż)
                    </li>
                    <li>
                        Guzki w obrębie węzłów chłonnych, zapalenie migdałków
                    </li>
                    <li>Wysokie nadciśnienie tętnicze</li>
                    <li>Świeże usunięcie zęba, zmiany ropne okolozebowe</li>
                    <li>Zaawansowana miażdżyca naczyń</li>
                </ul>
            </div>
            <div class="border-bottom mb-3"></div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 mb-4">
                <img class="img-fluid rounded"
                     src="~/images/kobidoprzemek.jpg"
                     alt="Kobido" />
            </div>
            <div class="col-lg-6 col-md-6 mb-4">
                <img class="img-fluid rounded"
                     src="~/images/kobidoefekt.jpeg"
                     alt="Kobido" />
            </div>
        </div>
        <div class="border-bottom"></div>
        <p>Czas trwania: 60min – Cena: 180zł</p>
    </div>
    <div class="row">
        <div class="mb-md-2 mb-5 mt-2 naglowek">
            <h4 class="h text-dark" id="klas_tw">Masaż klasyczny twarzy</h4>
            <p>
                Masaż klasyczny twarzy, wykonujemy na odpowiednim kremie,
                olejku bądź innym preparacie przeznaczonym odpowiednio do
                cery. Składa się on z etapów, które występują również w masażu
                klasycznym ciała: głaskania, rozcierania, ugniatania,
                delikatne oklepywanie, wibracja. Zabieg pobudza mikrokrążenie
                w skórze, dzięki czemu jest ona bardziej dotleniona. Dla celi
                relaksacyjnych ten masaż możemy połączyć z innymi zabiegami
                pielęgnacyjnymi na twarz.
            </p>
            <div class="border-bottom"></div>
            <p>Czas trwania: 30min – Cena: 60zł</p>
        </div>
        <div class="mt-md-1 mt-2 naglowek">
            <h4 class="h text-dark" id="gua">Masaż płytką Gua Sha</h4>
            <p>
               
                Gua sha wywodzi się z tradycji chińskiej. Masażer wykonany
                jest z naturalnych surowców, najczęściej jadeitu lub różowego
                kwarcu. Posiada przeróżne kształty, w większości jednak
                przypominają one serce. Masaż Gua sha pobudza doskonale
                przepływ krwi i limfy. Zatem niwelujemy obrzęki oraz
                opuchnięcia w okolicy twarzy, szyi i dekoltu. Rozpoczyna się
                od rozluźnienia karku, ramion oraz czepca. W kolejnej fazie
                wykonywane są ruchy kamieniem w kierunku węzłów chłonnych. Gua
                Sha wykorzystuje również elementy akupresury. Ruchy w części
                liftingującej wykonywane są ku górze, tak aby działać
                przeciwko grawitacji. 
            </p>
            <div class="border-bottom"></div>
            <p>Czas trwania: 30min – Cena: 60zł</p>
        </div>
        <div class=" mb-md-1 mb-5 mt-2 naglowek">
            <h4 class="h text-dark" id="banka ">Masaż bańką</h4>
            <p>
                Masaż twarzy bańką chińską, inaczej facial cupping, to jeden z
                najpopularniejszych zabiegów w obecnych czasach, który wywodzi
                się on z tradycyjnej medycyny chińskiej i stosowany jest po
                dziś dzień. W celu wykonania masażu twarzy używa się baniek
                silikonowych z miękkiego materiału o małej średnicy. Za ich
                pomocą możemy ujędrnić i odmłodzić skórę twarzy oraz poprawić
                przepływ limfy. Widoczne efekty są już po pierwszym zabiegu,
                jednak w celu osiągnięcia zamierzonego efektu, należy
                wykonywać masaż twarzy systematycznie.
            </p>
            <div class="border-bottom"></div>
            <p>Czas trwania: 30min – Cena: 60zł</p>
        </div>
    </div>
</div>

<div class="col-12 naglowek mb-5">
    <h3 class="h text-dark" id="facetaping">Facetaping</h3>
    <p>
        Taping twarzy to technika rozluźniania mięśni przy pomocy
        specjalnych taśm do kinesiotapingu. Ich celem jest relaksacja
        spiętych mięśni i wygładzenie zmarszczek.To terapia powięziowa,
        która polega na czasowym oklejeniu twarzy taśmami do
        kinesiotapingu. Ich zadanie to też obniżenie napięcia
        powierzchniowego, rozluźnienie mięśni i przywróceniu skórze
        elastyczności. Dokladniej: podnoszą owal twarzy, redukują drugi
        podbródek, lwią zmarszczkę i bruzdy nosowo-wargowe, wspomagając
        pracę mięśni i przywracając im odpowiedni tonus. Umożliwiają
        lepsze dotlenienienie tkanek, poprawe mikrokrążenie krwi i
        przepływ limfy a więc usuwają obrzęki i zasinienia.
    </p>
    <div class="border-bottom"></div>
    <p>
        Dodatkowo do masażu twarzy | Cena: 15-30zł w zależności od ilości
        taśm
    </p>
</div>
